@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {box-sizing: border-box;}
html, body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
$white: #fff2f2;
$lightgreen: rgb(75, 221, 75);
$graybg: #393838;
$crimson: #df3939;
$golden: #f7e13e;
$lightgray: #f3f3f3;
